<h1 class="form-banner">{{caxe.workflow.title}}</h1>

{{#if (eq caxe.workflow.submissionFormType 'Website')}}

    {{add-website model=model transition=(action "transition")}}

{{else}}

    <section class="info">
        {{caxe.workflow.description}}
    </section>

    <section style="background-color:#fff5da">
        Any changes you make here are automatically saved. You can use the reference code <span style="background-color:#ddd; color:#333;">{{caxe.id}}</span> to load this submission again.
    </section>

    {{#each caxe.workflow.sortedSections as |section|}}

        <section>
            <h2>{{section.label}}</h2>
            <p>{{section.description}}</p>
            <div class="content">
                {{#each section.sortedWidgets as |widget|}}
                    {{component widget.widgetType
                        widget=widget
                        collection=collection
                        parameters=widget.caseParameters}}
                {{/each}}
            </div>

        </section>
{{/each}}

{{/if}}


