<div id="item-hero" class="hero">
    <h1 class="p-b-md">{{item.title}}</h1>
    <h5 class="view-authors">
        {{item.createdBy.firstName}} {{item.createdBy.lastName}}
    </h5>
    <p>Added on: {{moment-format model.item.datePublished "MMMM DD, YYYY"}} | Last
                        edited: {{moment-format model.item.dateModified "MMMM DD, YYYY"}} </p>
</div>

<section>
    <div class="col-sm-8">
        <div>
            {{file-renderer download=item.fileLink width="99%" height="100%"
                            allowfullscreen=true}}
        </div>
    </div>
    <div class="col-sm-4 col-sm-12">
        <h4 class="p-v-md f-w-md"><strong>Presentation Details</strong></h4>
        <p>{{item.location}}<br>{{item.startTimeFormatted}}
            - {{item.endTimeFormatted}}</p>
        <h4 class="p-v-md f-w-md"><strong>Description</strong></h4>
        <p>{{item.description}}</p>

        <h4 class="p-v-md f-w-md"><strong>Status</strong></h4>
        <p class="coll-item-status {{item.status}}"> {{item.status}} </p>

        <h4 class="p-v-md f-w-md"><strong>Tags</strong></h4>
        <span class="coll-item-tag">{{item.tags}}</span>

        <div class="m-t-md">
            <a href="https://staging.osf.io/{{item.sourceId}}"
               class="btn btn-default btn-block"> Go to Source</a>
        </div>
    </div>


    <ul class="comma-list">
        {{#if constructedItem.viewContent.authors.visible}}
            {{#if constructedItem.viewContent.authors.loaded}}
                {{#each constructedItem.viewContent.authors.value as |author index| ~}}
                    {{#if author.bibliographic}}
                        <li><a href={{author.users.profileURL}} {{action 'click' 'link' 'Content - Author' author.users.profileURL}}>{{author.users.givenName}} {{author.users.familyName}}</a></li>
                    {{/if}}
                {{~/each}}
            {{else}}
                <div class="loader">
                    <div class="loader-inner ball-pulse">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </ul>
</section>
