{{#if (not editing)}}

    {{valueName}}: {{widget.parameter.value.value}}

{{/if}}

{{#if editing}}
    <div class='submission-text-field'>
        <label>{{widget.description}}</label>
        {{input type="text" value=parameters.value.value class='form-control' pattern='.{6,}' required=true}}
    </div>
{{/if}}
{{yield}}
