<div class="donate-banner">
    <div class="platter">Public goods infrastructure should be free to use,
but it's not free to build.</div>
    <a  href="https://cos.io/donate-to-cos/" class="button"> Donate </a>
</div>

{{new-osf-navbar
    loginAction=(action 'login')
}}

{{nav-bar}}

{{#if (not true)}}
    {{!--
        SEARCH DROPDOWN (FOR HOME SERVICE) - redirects to /search/?q=search_query
    --}}
    {{search-dropdown action='toggleSearch'}}
{{/if}}

{{outlet}}

{{osf-footer}}
